<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.guoli.mapper.AccountMapper">
    <update id="update">
        update account_tbl set money = #{money} where user_id = #{userId};
    </update>
    <select id="select" resultType="int">
        select money from account_tbl where user_id = #{userId};
    </select>
</mapper>
