<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.guoli.mapper.StorageMapper">
    <update id="update">
        update storage.storage_tbl set count = #{newCount} where commodity_code = #{commodityCode};
    </update>
    <select id="select" resultType="int">
        select count from storage.storage_tbl where commodity_code = #{commodityCode};
    </select>
</mapper>
